@import url("https://fonts.googleapis.com/css2?family=ADLaM+Display&family=Amatic+SC&family=DM+Sans:ital,opsz,wght@0,9..40,300;0,9..40,500;0,9..40,700;0,9..40,900;1,9..40,400&family=Inter:wght@300;400;500;700&display=swap");
html, body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
}

h2 {
  font-family: "DM Sans", sans-serif;
  font-size: 25px;
  font-weight: bold;
  padding-bottom: 10px;
}

h3 {
  font-size: 19px;
  font-weight: bold;
  font-family: "DM Sans", sans-serif;
  padding-bottom: 10px;
}

.h2-text {
  font-family: "DM Sans", sans-serif;
  font-size: 45px;
  padding-bottom: 50px;
}

.h3-text {
  font-family: "DM Sans", sans-serif;
  font-size: 22px;
  font-weight: bold;
}

.red-text {
  color: red;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  padding-bottom: 10px;
}

.yellow-button {
  display: flex;
  background-color: #F9D783;
  border: 1px solid #F9D783;
  border-radius: 25px;
  height: 35px;
  width: 150px;
  color: #191919;
  text-decoration: none;
  align-items: center;
  justify-content: center;
}
.yellow-button i {
  margin-left: 5px;
}

.transparent-button {
  background-color: transparent;
  border: 1px solid #191919;
  border-radius: 25px;
  padding: 7px 30px 7px 30px;
}
.transparent-button:hover {
  background-color: #191919;
  color: #f0efe9;
}

.my-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 55px;
  width: 180px;
  border-radius: 25px;
  border: 1px solid black;
  text-decoration: none;
  color: black;
  margin-bottom: 10px;
  font-size: 16px;
}
.my-button:hover {
  background-color: black;
  color: #ffffff;
  cursor: pointer;
}
.my-button i {
  margin-left: 5px;
}

.yellow-background {
  background-color: #F9D783;
  border: none;
}

.small-circles {
  display: flex;
  justify-content: center;
  gap: 15px;
}
.small-circles .small-circle {
  padding: 6px 6px 6px 6px;
  border: 1px solid #707070;
  background-color: #707070;
  border-radius: 50%;
}
.small-circles .small-circle:hover {
  background-color: #191919;
  border: 1px solid #191919;
}

/* <!-- Header --> */
.wrapper-grid .contact-box {
  padding-left: 10px;
  padding-right: 40px;
  border-right: 1px solid #cac6c6;
  font-size: 15px;
  font-family: "Inter", sans-serif;
  font-weight: 300;
}
.wrapper-grid header {
  background-color: #f0efe9;
  padding: 16px;
}
.wrapper-grid header .container {
  display: grid;
  align-items: center;
  -moz-column-gap: 70px;
       column-gap: 70px;
  grid-template-columns: 1fr auto;
  grid-template-areas: "logo bars";
}
@media (min-width: 992px) {
  .wrapper-grid header .container {
    grid-template-columns: auto 1fr auto;
    grid-template-areas: "logo cib social" "logo menu menu";
  }
}
.wrapper-grid header .container .btn-menubars {
  grid-area: bars;
}
@media (min-width: 992px) {
  .wrapper-grid header .container .btn-menubars {
    display: none;
  }
}
.wrapper-grid header .container .logotype {
  grid-area: logo;
}
.wrapper-grid header .container .contactinformation-bar {
  grid-area: cib;
  font-family: "Inter", sans-serif;
  font-weight: 300;
  padding-bottom: 10px;
  display: none;
}
.wrapper-grid header .container .contactinformation-bar i {
  font-size: 20px;
  margin-right: 5px;
}
@media (min-width: 992px) {
  .wrapper-grid header .container .contactinformation-bar {
    display: none;
  }
}
@media (min-width: 1200px) {
  .wrapper-grid header .container .contactinformation-bar {
    display: flex;
  }
}
.wrapper-grid header .container .socialmedia-bar {
  grid-area: social;
  font-size: 15px;
  padding-bottom: 10px;
  display: none;
}
.wrapper-grid header .container .socialmedia-bar i {
  color: #191919;
  font-size: 20px;
  margin-left: 8px;
}
@media (min-width: 992px) {
  .wrapper-grid header .container .socialmedia-bar {
    display: block;
  }
}
.wrapper-grid header .container .menu {
  grid-area: menu;
  display: none;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #cac6c6;
  padding-top: 16px;
}
.wrapper-grid header .container .menu nav a {
  display: inline-block;
  color: #191919;
  font-size: 16px;
  font-weight: 500;
  margin-right: 30px;
  text-decoration: none;
  position: relative;
}
.wrapper-grid header .container .menu nav a.active {
  font-weight: 500px;
}
.wrapper-grid header .container .menu nav a.active::after, .wrapper-grid header .container .menu nav a:hover::after {
  content: "";
  position: absolute;
  font-weight: 500;
  height: 2px;
  width: 15px;
  background-color: #191919;
  left: 50%;
  bottom: -3px;
  transform: translate(calc(50% - 15px));
}
@media (min-width: 992px) {
  .wrapper-grid header .container .menu {
    display: flex;
  }
}
.wrapper-grid header .container .menu .yellow-btn {
  padding: 10px 25px 10px 25px;
  background-color: #F9D783;
  border-radius: 25px;
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
  margin-right: 0px;
  color: #191919;
}
.wrapper-grid header .container .menu .yellow-btn:hover {
  background-color: #191919;
  border: 1px solid #191919;
  color: #f0efe9;
}

/* What we Provide */
.section-1 {
  padding-top: 5%;
  padding-bottom: 5%;
  background-color: #f0efe9;
  position: relative;
  z-index: 0;
}
@media (min-width: 1200px) {
  .section-1 {
    padding-top: 0%;
    padding-bottom: 0%;
  }
}
.section-1 .what-we-provide-section {
  position: relative;
  z-index: 2;
  text-align: center;
}
@media (min-width: 1200px) {
  .section-1 .what-we-provide-section {
    display: flex;
    text-align: start;
  }
}
@media (min-width: 1200px) {
  .section-1 .what-we-provide-section .what-we-provide-text-btns {
    margin-top: 155px;
  }
}
.section-1 .what-we-provide-section .what-we-provide-text-btns .button-section {
  display: flex;
  justify-content: center;
}
@media (min-width: 1200px) {
  .section-1 .what-we-provide-section .what-we-provide-text-btns .button-section {
    justify-content: start;
  }
}
.section-1 .what-we-provide-section .what-we-provide-text-btns .button-section .button-position {
  display: block;
}
@media (min-width: 800px) {
  .section-1 .what-we-provide-section .what-we-provide-text-btns .button-section .button-position {
    display: flex;
    gap: 10px;
  }
}
.section-1 .what-we-provide-section .picture-of-crito-worker-part {
  display: none;
}
@media (min-width: 1200px) {
  .section-1 .what-we-provide-section .picture-of-crito-worker-part {
    display: block;
    margin-top: 25px;
    position: relative;
    right: -25px;
  }
}
.section-1 h1 {
  font-family: "DM Sans", sans-serif;
  font-size: 40px;
  margin-bottom: 20px;
  font-weight: bold;
}
@media (min-width: 1200px) {
  .section-1 h1 {
    font-size: 70px;
    margin-bottom: 40px;
  }
}
.section-1 p {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 20px;
}
.section-1 .wavy-lines {
  display: none;
}
@media (min-width: 1400px) {
  .section-1 .wavy-lines {
    display: block;
    position: absolute;
    bottom: 0px;
  }
}

/* Partner Logotypes */
.section-2 {
  padding-top: 90px;
  padding-bottom: 0px;
}
.section-2 .partner-logotypes .partner-position {
  display: flex;
  justify-content: space-around;
}
.section-2 .partner-logotypes .partner-position .img-size {
  height: 15px;
  width: auto;
}
@media (min-width: 550px) {
  .section-2 .partner-logotypes .partner-position .img-size {
    height: 25px;
    width: auto;
  }
}
@media (min-width: 1000px) {
  .section-2 .partner-logotypes .partner-position .img-size {
    height: auto;
    width: auto;
  }
}

/* Features */
.section-3 {
  padding-top: 100px;
  padding-bottom: 100px;
}
.section-3 .grey-border-box {
  height: auto;
  width: 80%;
  border: 1px solid black;
  padding-bottom: 50px;
}
.section-3 .features-box {
  text-align: center;
}
@media (min-width: 985px) {
  .section-3 .features-box {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-areas: "leftbox rightbox";
    padding-top: 50px;
  }
}
.section-3 .features-box .left-box {
  display: flex;
  justify-content: center;
}
@media (min-width: 1200px) {
  .section-3 .features-box .left-box h2 {
    font-size: 45px;
  }
}
.section-3 .features-box .left-box .center-my-button {
  display: flex;
  justify-content: center;
}
.section-3 .features-box .left-box .red-text {
  padding-bottom: 0px;
}
@media (min-width: 985px) {
  .section-3 .features-box .left-box {
    text-align: start;
    grid-area: "leftbox";
    margin-right: 50px;
  }
}
@media (min-width: 1200px) {
  .section-3 .features-box .left-box .yellow-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 380px;
    border-radius: 25px;
    text-decoration: none;
    color: black;
    margin-bottom: 10px;
    font-weight: 400;
    margin-right: 40px;
  }
  .section-3 .features-box .left-box .yellow-button:hover {
    background-color: black;
    color: #ffffff;
  }
}
@media (min-width: 1200px) and (min-width: 1400px) {
  .section-3 .features-box .left-box .yellow-button {
    margin-right: 150px;
  }
}
.section-3 .features-box .right-box {
  display: flex;
  justify-content: center;
  margin-top: 25px;
  gap: 50px;
}
@media (min-width: 985px) {
  .section-3 .features-box .right-box {
    display: grid;
    grid-area: "rightbox";
    -moz-column-gap: 1px;
         column-gap: 1px;
    row-gap: 40px;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: "BA SB" "FA RM";
  }
}
.section-3 .features-box .right-box i {
  font-size: 25px;
}
@media (min-width: 1200px) {
  .section-3 .features-box .right-box i {
    margin-bottom: 30px;
  }
}
.section-3 .features-box .right-box p {
  display: none;
}
@media (min-width: 1030px) {
  .section-3 .features-box .right-box p {
    display: block;
    font-size: 16px;
  }
}
.section-3 .features-box .right-box h3 {
  display: none;
}
@media (min-width: 768px) {
  .section-3 .features-box .right-box h3 {
    display: block;
  }
}
@media (min-width: 1200px) {
  .section-3 .features-box .right-box h3 {
    font-size: 22px;
  }
}
.section-3 .features-box .business-advice {
  grid-area: "BA";
}
.section-3 .features-box .startup-business {
  grid-area: "SB";
}
.section-3 .features-box .financial-advice {
  grid-area: "FA";
}
.section-3 .features-box .risk-management {
  grid-area: "RM";
}

/* About Company */
.section-4 {
  padding-top: 100px;
  padding-bottom: 50px;
}
.section-4 .aboutcompany-section {
  display: flex;
  justify-content: center;
}
@media (min-width: 1150px) {
  .section-4 .aboutcompany-section {
    justify-content: space-between;
  }
}
.section-4 .aboutcompany-section .about-founder {
  display: none;
}
@media (min-width: 800px) {
  .section-4 .aboutcompany-section .about-founder {
    display: block;
  }
  .section-4 .aboutcompany-section .about-founder img {
    height: 250px;
    width: auto;
    margin-left: 50px;
    margin-right: 100px;
    position: relative;
    z-index: 0;
  }
}
@media (min-width: 800px) and (min-width: 1150px) {
  .section-4 .aboutcompany-section .about-founder img {
    height: auto;
    width: auto;
  }
}
.section-4 .aboutcompany-section .about-founder .samantha-box {
  display: none;
}
@media (min-width: 1150px) {
  .section-4 .aboutcompany-section .about-founder .samantha-box {
    display: block;
    height: 180px;
    width: 380px;
    justify-content: center;
    text-align: center;
    background-color: #BEEBFF;
    position: relative;
    top: -220px;
    right: 60px;
  }
}
.section-4 .aboutcompany-section .about-founder .samantha-box .samantha-title {
  display: none;
}
@media (min-width: 1150px) {
  .section-4 .aboutcompany-section .about-founder .samantha-box .samantha-title {
    display: flex;
    justify-content: center;
    padding-top: 40px;
  }
  .section-4 .aboutcompany-section .about-founder .samantha-box .samantha-title h3 {
    font-size: 20px;
    font-family: "DM Sans", sans-serif;
    font-weight: bold;
    margin-right: 5px;
  }
  .section-4 .aboutcompany-section .about-founder .samantha-box .samantha-title p {
    font-family: "DM Sans", sans-serif;
    font-size: 16px;
    color: red;
    padding-top: 1.2px;
    font-weight: bold;
  }
  .section-4 .aboutcompany-section .about-founder .samantha-box .samantha-title .p-medium-italic {
    font-family: "Inter", sans-serif;
    font-size: 16px;
  }
}
.section-4 .aboutcompany-section .about-company-info h2 {
  text-align: center;
  font-size: 25px;
}
@media (min-width: 1150px) {
  .section-4 .aboutcompany-section .about-company-info h2 {
    text-align: start;
    font-size: 45px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
}
.section-4 .aboutcompany-section .about-company-info .red-text {
  display: block;
  text-align: center;
  padding-bottom: 0px;
}
@media (min-width: 1150px) {
  .section-4 .aboutcompany-section .about-company-info .red-text {
    text-align: start;
  }
}
.section-4 .aboutcompany-section .about-company-info p {
  display: none;
}
@media (min-width: 1150px) {
  .section-4 .aboutcompany-section .about-company-info p {
    display: block;
    line-height: 25px;
    margin-bottom: 50px;
  }
}
.section-4 .aboutcompany-section .about-company-info .about-company-btns {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 1150px) {
  .section-4 .aboutcompany-section .about-company-info .about-company-btns {
    justify-content: start;
  }
}
.section-4 .aboutcompany-section .about-company-info .about-company-btns .intro-text {
  display: flex;
  font-size: 16px;
  font-weight: 400;
  margin-top: 10px;
}
.section-4 .aboutcompany-section .about-company-info .about-company-btns .yellow-button {
  margin-right: 15px;
}
.section-4 .aboutcompany-section .about-company-info .about-company-btns .yellow-button:hover {
  background-color: #F9D783;
  color: #191919;
}
@media (min-width: 1150px) {
  .section-4 .aboutcompany-section .about-company-info .about-company-btns .yellow-button {
    height: 55px;
    width: 180px;
    background-color: #191919;
    color: #ffffff;
  }
}
.section-4 .aboutcompany-section .about-company-info .about-company-btns .play-btn {
  color: #191919;
  border: 1px solid #191919;
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  height: 35px;
  width: 35px;
  border-radius: 50%;
}
.section-4 .aboutcompany-section .about-company-info .about-company-btns .play-btn:hover {
  color: #ffffff;
  background-color: #191919;
}
@media (min-width: 1150px) {
  .section-4 .aboutcompany-section .about-company-info .about-company-btns .play-btn {
    height: 55px;
    width: 55px;
  }
}

/* Our Services */
.section-5 {
  background-color: #f0efe9;
  padding-bottom: 100px;
  padding-top: 50px;
  position: relative;
  z-index: 0;
}
.section-5 .our-services .title-align {
  text-align: center;
}
@media (min-width: 1200px) {
  .section-5 .our-services .title-align {
    text-align: start;
  }
}
@media (min-width: 1200px) {
  .section-5 .our-services .title-align h2 {
    font-size: 45px;
  }
}
.section-5 .our-services .service-boxes {
  display: grid;
  justify-content: center;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  gap: 20px;
}
@media (min-width: 768px) {
  .section-5 .our-services .service-boxes {
    display: flex;
  }
}
.section-5 .our-services .service-boxes p {
  display: none;
}
@media (min-width: 1200px) {
  .section-5 .our-services .service-boxes p {
    display: block;
    font-size: 15px;
  }
}
.section-5 .our-services .service-boxes .business-subject {
  text-align: center;
  width: 130px;
  height: 130px;
  background-color: #ffffff;
}
.section-5 .our-services .service-boxes .business-subject:hover {
  background-color: #F9D783;
}
@media (min-width: 1200px) {
  .section-5 .our-services .service-boxes .business-subject {
    height: 330px;
    width: 300px;
    text-align: start;
    padding: 45px 20px 45px 20px;
  }
}
.section-5 .our-services .service-boxes .business-subject h3 {
  margin-top: 10px;
}
@media (min-width: 1200px) {
  .section-5 .our-services .service-boxes .business-subject h3 {
    font-size: 22px;
  }
}
.section-5 .our-services .service-boxes .business-subject .small-line {
  display: none;
}
@media (min-width: 1200px) {
  .section-5 .our-services .service-boxes .business-subject .small-line {
    display: block;
    border-top: 1px solid #191919;
    width: 40px;
    height: 1px;
    background-color: #191919;
    margin-bottom: 35px;
  }
}
.section-5 .our-services .service-boxes .business-subject .btn-right {
  display: flex;
  justify-content: center;
}
@media (min-width: 1200px) {
  .section-5 .our-services .service-boxes .business-subject .btn-right {
    justify-content: end;
  }
}
.section-5 .our-services .service-boxes .business-subject .btn-right .arrow-button {
  display: flex;
  border: 1px solid black;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  background-color: #191919;
}
.section-5 .our-services .service-boxes .business-subject .btn-right .arrow-button:hover {
  background-color: #ffffff;
  color: #191919;
}
@media (min-width: 1200px) {
  .section-5 .our-services .service-boxes .business-subject .btn-right .arrow-button {
    height: 55px;
    width: 55px;
  }
  .section-5 .our-services .service-boxes .business-subject .btn-right .arrow-button i {
    font-size: 25px;
  }
}
.section-5 .our-services .browse-btn-center {
  display: flex;
  justify-content: center;
}
.section-5 .our-services .browse-btn-center .yellow-button {
  background-color: transparent;
  border: 1px solid #191919;
  height: 35px;
  width: 180px;
  margin-top: 20px;
}
.section-5 .our-services .browse-btn-center .yellow-button:hover {
  background-color: black;
  color: #ffffff;
}
@media (min-width: 1200px) {
  .section-5 .our-services .browse-btn-center .yellow-button {
    height: 55px;
    width: 220px;
  }
}
.section-5 img {
  display: none;
}
@media (min-width: 1300px) {
  .section-5 img {
    display: flex;
    position: absolute;
    z-index: 1;
    bottom: 0px;
    right: 0px;
    transform: scaleX(-1);
  }
}

/* Why Choose Us */
.section-6 {
  position: relative;
  z-index: 0;
  padding-top: 50px;
}
.section-6 .why-choose-us {
  position: relative;
  z-index: 1;
  text-align: center;
}
@media (min-width: 1200px) {
  .section-6 .why-choose-us {
    display: flex;
    justify-content: space-between;
    text-align: start;
  }
}
@media (min-width: 768px) {
  .section-6 .why-choose-us .why-choose-us-info {
    display: grid;
    justify-content: space-around;
  }
}
@media (min-width: 768px) and (min-width: 1200px) {
  .section-6 .why-choose-us .why-choose-us-info {
    display: block;
  }
}
@media (min-width: 1200px) {
  .section-6 .why-choose-us .why-choose-us-info .why-choose-us-titles h2 {
    font-size: 45px;
  }
}
.section-6 .why-choose-us .why-choose-us-info .logo-and-text {
  padding-left: 20px;
  padding-right: 20px;
}
@media (min-width: 768px) {
  .section-6 .why-choose-us .why-choose-us-info .logo-and-text {
    padding-left: 25px;
    padding-right: 25px;
  }
}
@media (min-width: 1200px) {
  .section-6 .why-choose-us .why-choose-us-info .logo-and-text {
    display: flex;
    padding-bottom: 25px;
    padding-left: 0px;
    padding-right: 0px;
  }
  .section-6 .why-choose-us .why-choose-us-info .logo-and-text h3 {
    font-size: 22px;
  }
}
.section-6 .why-choose-us .why-choose-us-info .logo-and-text .circle-logo {
  display: block;
}
@media (min-width: 1200px) {
  .section-6 .why-choose-us .why-choose-us-info .logo-and-text .circle-logo {
    display: flex;
    border: 1px solid black;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    margin-right: 25px;
  }
}
.section-6 .why-choose-us .picture-on-box {
  position: relative;
}
.section-6 .why-choose-us .picture-on-box img {
  display: none;
}
@media (min-width: 1200px) {
  .section-6 .why-choose-us .picture-on-box img {
    display: block;
    z-index: 2;
    position: relative;
    margin-top: 30px;
  }
}

/* Projects */
.section-7 {
  margin-top: 100px;
  margin-bottom: 100px;
}
.section-7 .Project-section {
  display: block;
  text-align: center;
}
.section-7 .Project-section .project-title {
  text-align: center;
}
@media (min-width: 1200px) {
  .section-7 .Project-section .project-title h2 {
    font-size: 45px;
  }
}
@media (min-width: 1378px) {
  .section-7 .Project-section .project-and-case {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    -moz-column-gap: 30px;
         column-gap: 30px;
    row-gap: 35px;
    justify-content: center;
    padding-top: 40px;
  }
}
.section-7 .Project-section .project-and-case article {
  padding-bottom: 40px;
}
.section-7 .Project-section .project-and-case article img {
  height: 125px;
  width: auto;
}
@media (min-width: 768px) {
  .section-7 .Project-section .project-and-case article img {
    height: 250px;
    width: auto;
  }
}
@media (min-width: 1378px) {
  .section-7 .Project-section .project-and-case article img {
    height: auto;
    width: auto;
  }
}
.section-7 .Project-section .project-and-case article h3 {
  padding-bottom: 0px;
}
@media (min-width: 768px) {
  .section-7 .Project-section .project-and-case article h3 {
    font-size: 22px;
  }
}
@media (min-width: 1378px) {
  .section-7 .Project-section .project-and-case article h3 {
    padding-top: 40px;
    padding-bottom: 20px;
    border-bottom: 1px solid #c4c3be;
    text-align: start;
  }
}
.section-7 .Project-section .project-and-case article a {
  font-size: 14px;
  text-decoration: none;
  color: black;
}
.section-7 .Project-section .project-and-case article a i {
  margin-left: 5px;
}
@media (min-width: 1378px) {
  .section-7 .Project-section .project-and-case article a {
    display: flex;
    margin-top: 35px;
    justify-content: end;
    align-items: center;
    text-decoration: none;
    color: #191919;
  }
}
.section-7 .Project-section .projects-button {
  display: flex;
  justify-content: center;
}
.section-7 .Project-section .projects-button .yellow-button {
  width: 300px;
  background-color: #191919;
  color: #ffffff;
}
.section-7 .Project-section .projects-button .yellow-button:hover {
  background-color: #ffffff;
  color: #191919;
  border: 1px solid #191919;
}
@media (min-width: 1200px) {
  .section-7 .Project-section .projects-button .yellow-button {
    height: 55px;
    width: 220px;
  }
}

/* Meet Our Team */
.section-8 {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #F9D783;
}
.section-8 .meet-our-team .team-box {
  text-align: center;
}
@media (min-width: 1400px) {
  .section-8 .meet-our-team .team-box {
    text-align: start;
  }
}
.section-8 .meet-our-team .team-box .h2-and-btn {
  display: block;
  align-items: center;
}
@media (min-width: 1200px) {
  .section-8 .meet-our-team .team-box .h2-and-btn h2 {
    font-size: 45px;
  }
}
@media (min-width: 1400px) {
  .section-8 .meet-our-team .team-box .h2-and-btn {
    display: flex;
    justify-content: space-between;
  }
}
.section-8 .meet-our-team .team-box .h2-and-btn .btn-placement {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.section-8 .meet-our-team .team-box .h2-and-btn .btn-placement .yellow-button {
  border: 1px solid #191919;
  background-color: #f3d68c;
}
.section-8 .meet-our-team .team-box .h2-and-btn .btn-placement .yellow-button:hover {
  background-color: #191919;
  color: #ffffff;
}
@media (min-width: 1200px) {
  .section-8 .meet-our-team .team-box .h2-and-btn .btn-placement .yellow-button {
    height: 55px;
    width: 220px;
  }
}
.section-8 .meet-our-team .team-box .team-members {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  gap: 10px;
}
@media (min-width: 1400px) {
  .section-8 .meet-our-team .team-box .team-members {
    display: flex;
    gap: 30px;
  }
}
.section-8 .meet-our-team .team-box .team-members .member img {
  height: 150px;
  width: auto;
}
@media (min-width: 768px) {
  .section-8 .meet-our-team .team-box .team-members .member img {
    height: 250px;
    width: auto;
  }
}
@media (min-width: 1200px) {
  .section-8 .meet-our-team .team-box .team-members .member img {
    height: auto;
    width: auto;
  }
}
@media (min-width: 1400px) {
  .section-8 .meet-our-team .team-box .team-members .member img {
    margin-top: 100px;
  }
}
.section-8 .meet-our-team .team-box .team-members .member h3 {
  font-size: 16px;
}
@media (min-width: 1200px) {
  .section-8 .meet-our-team .team-box .team-members .member h3 {
    font-size: 22px;
    margin-top: 30px;
  }
}
.section-8 .meet-our-team .team-box .team-members .member p {
  display: none;
}
@media (min-width: 768px) {
  .section-8 .meet-our-team .team-box .team-members .member p {
    display: block;
  }
}
@media (min-width: 1400px) {
  .section-8 .meet-our-team .team-box .team-members .member p {
    margin-bottom: 50px;
  }
}
.section-8 .meet-our-team .team-box .small-circles {
  display: none;
}
@media (min-width: 1400px) {
  .section-8 .meet-our-team .team-box .small-circles {
    display: flex;
  }
}

/* Client Reviews */
.section-9 {
  background-color: #F9D783;
  padding-top: 75px;
  padding-bottom: 175px;
  position: relative;
  z-index: 0;
}
.section-9 .client-reviews {
  z-index: 2;
  position: relative;
  padding-top: 100px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.section-9 .client-reviews .review-title {
  text-align: center;
}
@media (min-width: 1200px) {
  .section-9 .client-reviews .review-title h2 {
    font-size: 45px;
  }
}
@media (min-width: 1200px) {
  .section-9 .client-reviews .flexed-boxes {
    display: flex;
    justify-content: space-around;
  }
}
.section-9 .client-reviews .flexed-boxes .review-box {
  text-align: center;
}
@media (min-width: 1200px) {
  .section-9 .client-reviews .flexed-boxes .review-box {
    text-align: start;
  }
  .section-9 .client-reviews .flexed-boxes .review-box p {
    line-height: 30px;
    margin-top: 25px;
    margin-bottom: 30px;
  }
}
.section-9 .client-reviews .flexed-boxes .review-box .five-stars {
  margin-top: 40px;
  margin-bottom: 5px;
}
.section-9 .client-reviews .flexed-boxes .review-box .image-name-reviewer .name-and-role h3 {
  padding-top: 12px;
  padding-bottom: 14px;
}
.section-9 .client-reviews .flexed-boxes .review-box .image-name-reviewer .name-and-role .red-text {
  font-size: 16px;
  bottom: 20px;
  position: relative;
}
@media (min-width: 1200px) {
  .section-9 .client-reviews .flexed-boxes .review-box .image-name-reviewer .name-and-role .red-text {
    position: relative;
    bottom: 40px;
  }
}
.section-9 .client-reviews .flexed-boxes .review-box .image-name-reviewer h3 {
  padding-bottom: 0px;
}
@media (min-width: 1200px) {
  .section-9 .client-reviews .flexed-boxes .review-box .image-name-reviewer {
    display: flex;
  }
  .section-9 .client-reviews .flexed-boxes .review-box .image-name-reviewer img {
    width: 70px;
    height: 70px;
    margin-right: 15px;
  }
}
.section-9 .client-reviews .projects-button2 {
  display: flex;
  justify-content: center;
}
.section-9 .client-reviews .projects-button2 .yellow-button {
  background-color: #191919;
  color: #ffffff;
  border: 1px solid #191919;
}
.section-9 .client-reviews .projects-button2 .yellow-button:hover {
  background-color: #ffffff;
  color: #191919;
}
@media (min-width: 1200px) {
  .section-9 .client-reviews .projects-button2 .yellow-button {
    height: 55px;
    width: 220px;
  }
}
.section-9 .white-background-position {
  display: none;
}
@media (min-width: 1600px) {
  .section-9 .white-background-position {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.section-9 .white-background-position .white-background {
  background-color: #ffffff;
  width: 1520px;
  height: 887px;
  position: absolute;
  z-index: 1;
  top: 0px;
}

/* Articles and News */
.section-10 {
  padding-top: 125px;
}
.section-10 .Article-and-news {
  text-align: center;
}
@media (min-width: 1400px) {
  .section-10 .Article-and-news {
    text-align: start;
  }
}
.section-10 .Article-and-news .text-h2-and-button .Topic-and-button {
  display: block;
}
@media (min-width: 1200px) {
  .section-10 .Article-and-news .text-h2-and-button .Topic-and-button h2 {
    font-size: 45px;
  }
}
@media (min-width: 1400px) {
  .section-10 .Article-and-news .text-h2-and-button .Topic-and-button {
    display: flex;
    justify-content: space-between;
  }
}
.section-10 .Article-and-news .text-h2-and-button .Topic-and-button .article-btn-position {
  display: flex;
  justify-content: center;
}
.section-10 .Article-and-news .text-h2-and-button .Topic-and-button .article-btn-position .yellow-button {
  background-color: #ffffff;
  border: 1px solid #191919;
}
.section-10 .Article-and-news .text-h2-and-button .Topic-and-button .article-btn-position .yellow-button:hover {
  background-color: #191919;
  color: #ffffff;
}
@media (min-width: 1200px) {
  .section-10 .Article-and-news .text-h2-and-button .Topic-and-button .article-btn-position .yellow-button {
    height: 55px;
    width: 220px;
  }
}
@media (min-width: 1400px) {
  .section-10 .Article-and-news .crito-articles {
    display: flex;
    gap: 30px;
  }
}
.section-10 .Article-and-news .crito-articles .article-and-info img {
  height: 120px;
  width: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .section-10 .Article-and-news .crito-articles .article-and-info img {
    height: auto;
  }
}
.section-10 .Article-and-news .crito-articles .article-and-info p {
  display: none;
}
@media (min-width: 1400px) {
  .section-10 .Article-and-news .crito-articles .article-and-info p {
    display: block;
  }
}
.section-10 .Article-and-news .crito-articles .article-and-info a {
  text-decoration: none;
  color: black;
}
.section-10 .Article-and-news .small-circles {
  display: none;
}
@media (min-width: 1400px) {
  .section-10 .Article-and-news .small-circles {
    display: flex;
    margin-top: 65px;
    margin-bottom: 85px;
  }
}

/* Submit Your Mail */
.section-11 {
  position: relative;
  z-index: 0;
  padding-top: 120px;
  padding-bottom: 105px;
  background-color: #f0efe9;
}
.section-11 .submit-your-mail {
  text-align: center;
}
@media (min-width: 1400px) {
  .section-11 .submit-your-mail {
    display: flex;
    justify-content: space-between;
  }
}
@media (min-width: 1200px) {
  .section-11 .submit-your-mail h2 {
    font-size: 45px;
  }
}
.section-11 .submit-your-mail .empty-field-and-subscribe-btn {
  display: block;
}
@media (min-width: 1400px) {
  .section-11 .submit-your-mail .empty-field-and-subscribe-btn {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-right: 45px;
  }
}
.section-11 .submit-your-mail .empty-field-and-subscribe-btn .button-position-center {
  display: flex;
  justify-content: center;
}
.section-11 .submit-your-mail .empty-field-and-subscribe-btn .button-position-center .yellow-button {
  width: 310px;
  margin-top: 20px;
}
.section-11 .submit-your-mail .empty-field-and-subscribe-btn .button-position-center .yellow-button:hover {
  background-color: #191919;
  color: #ffffff;
  border: 1px solid #191919;
}
@media (min-width: 1200px) {
  .section-11 .submit-your-mail .empty-field-and-subscribe-btn .button-position-center .yellow-button {
    height: 55px;
    width: 220px;
    margin-top: 0px;
  }
}
.section-11 .submit-your-mail .empty-field-and-subscribe-btn .searchbox {
  display: flex;
  justify-content: center;
}
.section-11 .submit-your-mail .empty-field-and-subscribe-btn .searchbox .insert-your-email {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 310px;
  height: 35px;
  border-radius: 25px;
  border: none;
}
@media (min-width: 1200px) {
  .section-11 .submit-your-mail .empty-field-and-subscribe-btn .searchbox .insert-your-email {
    height: 55px;
  }
}
.section-11 img {
  display: none;
}
@media (min-width: 1200px) {
  .section-11 img {
    display: flex;
    position: absolute;
    right: 0px;
    bottom: 50px;
    z-index: 1;
  }
}

/* Footer */
.section-12 {
  background-color: #0E1021;
  color: #ffffff;
  padding-top: 50px;
  padding-bottom: 25px;
  position: relative;
  z-index: 1;
}
@media (min-width: 1200px) {
  .section-12 .crito-footer .footer-link-section {
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
  }
}
.section-12 .crito-footer .footer-link-section .crito-logo-and-text {
  display: flex;
  justify-content: center;
}
@media (min-width: 1200px) {
  .section-12 .crito-footer .footer-link-section .crito-logo-and-text {
    display: block;
  }
  .section-12 .crito-footer .footer-link-section .crito-logo-and-text img {
    margin-bottom: 35px;
  }
}
.section-12 .crito-footer .footer-link-section .crito-logo-and-text p {
  display: none;
}
@media (min-width: 1200px) {
  .section-12 .crito-footer .footer-link-section .crito-logo-and-text p {
    display: block;
    line-height: 30px;
  }
}
.section-12 .crito-footer .footer-link-section .topics-and-links {
  display: none;
}
@media (min-width: 1200px) {
  .section-12 .crito-footer .footer-link-section .topics-and-links {
    display: block;
  }
  .section-12 .crito-footer .footer-link-section .topics-and-links a {
    display: flex;
    text-decoration: none;
    color: #ffffff;
    margin-bottom: 30px;
    font-family: "Inter", sans-serif;
  }
}
.section-12 .crito-footer .footer-link-section .topics-and-links h3 {
  padding-bottom: 50px;
}
.section-12 .crito-footer .copyright-and-socialmedia {
  text-align: center;
  font-size: 14px;
  margin-top: 20px;
}
@media (min-width: 1200px) {
  .section-12 .crito-footer .copyright-and-socialmedia {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
  }
}
.section-12 .crito-footer .copyright-and-socialmedia .socialmedia-bar a {
  color: #ffffff;
  margin-right: 10px;
  margin-left: 10px;
}
.section-12 .crito-footer .copyright-and-socialmedia .socialmedia-bar i {
  font-size: 25px;
}
.section-12 .background-lines-white {
  display: none;
}
@media (min-width: 1200px) {
  .section-12 .background-lines-white {
    display: block;
    position: absolute;
    bottom: 80px;
    right: 0px;
    z-index: 2;
  }
}
.section-12 .long-grey-border {
  display: none;
}
@media (min-width: 1200px) {
  .section-12 .long-grey-border {
    display: block;
    border-top: 0.5px solid #707070;
    width: 100%;
    position: absolute;
    z-index: 3;
    bottom: 80px;
  }
}